/* Fonts */

$font-black: 900;
$font-bold: 800;
$font-semibold: 600;
$font-regular: 400;

/* Colors */

$color-main: #BEA67C;
$color-dark: #000;
$color-light: #FFF;

/* Icons */

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?73069626');
  src: url('../font/fontello.eot?73069626#iefix') format('embedded-opentype'),
    url('../font/fontello.woff2?73069626') format('woff2'),
    url('../font/fontello.woff?73069626') format('woff'),
    url('../font/fontello.ttf?73069626') format('truetype'),
    url('../font/fontello.svg?73069626#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}